import { FC } from 'react';

import { {{pascalCase name}}Props } from '../types';

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({ }) => {
  return (
    <span>Hello, {{pascalCase name}}</span>
  );
};